@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>No data is collected, all data is stored within your infrastructure. If you submit feedback or issues, then it's a public posting and within Github.</p>
