@page "/system-status"
@using ShieldChecker.WebApp.Models.Db
@using ShieldChecker.WebApp.Helper
<div class="card">
    <h2 class="card-header">
        System Status
    </h2>
    <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Domain Controller Status</th>
                    <td>
                        @Status.DomainControllerStatus.ToString().FromCamelCase() <a href="/Settings/DcLog"><i class="fas fa-info-circle" title="@Status.DomainControllerLog"></i></a>
                        @if (Status.DomainControllerStatus == DomainControllerStatus.Error || Status.DomainControllerStatus == DomainControllerStatus.Initialized)
                        {
                            <span>
                                &nbsp;
                                (<a @onclick="ResetDC">Reset</a>)
                            </span>
                        }
                        @if (!String.IsNullOrWhiteSpace(ErrorMessage)){
                            <p class="text-danger">@ErrorMessage</p>
                        }
                    </td>
                </tr>
                <tr>
                    <th scope="row">First Run Wizard Completed</th>
                    <td>@if (Status.IsFirstRunCompleted)
                        {
                            <p>Yes <a href="/FirstRun/Welcome">Restart</a></p>
                        }
                        else
                        {
                            <p>No</p>
                        }
                    </td>
                </tr>
                <tr>
                    <th scope="row">Review Mode Enabled</th>
                    <td>
                        @if (Settings.JobReview)
                        {
                            <p>Yes</p>
                        }
                        else
                        {
                            <p>No</p>
                        }
                    </td>
                </tr>
                <tr>
                    <th scope="row">Web App Version</th>
                    <td>@Status.WebAppVersion</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@code {

    private SystemStatus Status;
    private Settings Settings;
    private String ErrorMessage = "";
    private readonly ShieldChecker.WebApp.ShieldCheckerContext _context;
    public CoSystemStatus(ShieldCheckerContext context)
    {
        _context = context;
        Status = _context.SystemStatus.First() ?? new SystemStatus() { DomainControllerLog = "", DomainControllerStatus = DomainControllerStatus.NotStarted, ID = 1, IsFirstRunCompleted = false, WebAppVersion = "0.0.0" };
        Settings = _context.Settings.First() ?? new Settings() { };
    }

    private async Task ResetDC()
    {
        
        try
        {
            Status.DomainControllerStatus = DomainControllerStatus.ResetRequested;
            _context.SystemStatus.Update(Status);
            await _context.SaveChangesAsync();
            ErrorMessage = "";
            StateHasChanged();
        }
        catch (Exception e)
        {
            ErrorMessage = e.Message;
        }
    }
}
